:root {
    --primary-color: #6a0dad; /* Dark Purple */
    --primary-light: #9333ea; /* Lighter Purple */
    --secondary-color: #0d6a0d; /* Dark Green */
    --accent-color: #0a0d6a; /* Dark Blue */
    --background-color: #f4f7f6; /* Light Gray */
    --surface-color: #ffffff; /* White */
    --text-color: #333333; /* Dark Gray */
    --border
